NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/habit_expense_keeper?schema=public"
CORS_ORIGIN="http://localhost:5173"
JWT_SECRET="replace-this-with-at-least-32-characters"
JWT_EXPIRES_IN="7d"
